absl-py==2.1.0
alembic==1.13.1
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
AWRS==2019.8.14.1152
banal==1.0.6
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
cmake==3.29.2
colorama==0.4.6
comm==0.2.2
comtypes==1.4.1
contourpy==1.2.1
cycler==0.12.1
dataset==1.6.2
decorator==5.1.1
DictObject==1.1.1
Django==5.0.4
docopt==0.6.2
exceptiongroup==1.2.1
executing==2.0.1
flatbuffers==24.3.25
folktales==2018.5.3.245
fonttools==4.51.0
gast==0.5.4
google-pasta==0.2.0
greenlet==3.0.3
grpcio==1.63.0
gTTS==2.5.1
h5py==3.11.0
idna==3.7
imutils==0.5.4
ipython==8.24.0
ipywidgets==8.1.2
jedi==0.19.1
joblib==1.4.2
jupyterlab_widgets==3.0.10
keras==3.3.3
kiwisolver==1.4.5
libclang==18.1.1
luckydonald-utils==0.83
Mako==1.3.3
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline==0.1.7
matrix-client==0.4.0
mdurl==0.1.2
megaparsex==2018.2.12.2333
ml-dtypes==0.3.2
namex==0.0.8
numpy==1.26.4
opencv-python==4.9.0.80
opt-einsum==3.3.0
optree==0.11.0
packaging==24.0
pandas==2.2.2
parso==0.8.4
pathlib2==2.3.7.post1
pillow==10.3.0
pkgconfig==1.5.5
prompt-toolkit==3.0.43
propyte==2018.3.14.1447
protobuf==4.25.3
psutil==5.9.8
pure-eval==0.2.2
pushbullet.py==0.12.0
PyAudio==0.2.14
pyfiglet==1.0.2
Pygments==2.18.0
pyparsing==3.1.2
pyprel==2018.9.14.1501
pytg==0.4.10
python-dateutil==2.9.0.post0
python-magic==0.4.27
python-sentinel==2019.5.28.1348
pyttsx3==2.90
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
rich==13.7.1
scalar==2018.9.10.2016
scikit-learn==1.4.2
scipy==1.13.0
seaborn==0.13.2
shijian==2023.10.19.215
six==1.16.0
SQLAlchemy==1.4.52
sqlparse==0.5.0
stack-data==0.6.3
technicolor==2017.1.16.1544
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
threadpoolctl==3.5.0
tonescale==2018.2.6.1919
traitlets==5.14.3
typing_extensions==4.11.0
tzdata==2024.1
urllib3==1.26.18
wcwidth==0.2.13
websocket-client==1.8.0
Werkzeug==3.0.2
widgetsnbextension==4.0.10
wrapt==1.16.0
gunicorn==22.0.0
pexpect==4.9.0
scikit-learn==1.4.2 
